#App Config
NODE_ENV=
PORT=

# Database Config
DATABASE_URL=your_database_url
DIRECT_URL=your_database_direct_url

# JWT Config
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=your_jwt_expires_in

# Upstash Redis
UPSTASH_REDIS_URL=upir_upstash_redis_tcp_url

# Product Config
FRESHNESS_WINDOW_DAYS=
FLAG_MARK_THRESHOLD=
FLAG_EXCLUDE_THRESHOLD=

# Seed script
SEED_ADMIN_PASSWORD=
SEED_CONTRIB_PASSWORD=